*, *::before, *::after {
    box-sizing: initial;
}

#header #nav .gnb_menu li a:hover {
    box-sizing: initial;
}

#header #nav .gnb_menu li a.selected {
    box-sizing: initial;
}

.modal_box .close { color:#fff; text-shadow: none; opacity: 1; font-size:3rem; font-weight: 200; background: none; border: none;}

*, *::before, *::after {
    box-sizing: initial;
}

body { margin:0px; padding:0px; font-family: "Pretendard", sans-serif; font-size: 14px; font-weight:400; letter-spacing: 0px; color:#363636;}

/* body { margin:0px; padding:0px; font-family: "Pretendard", sans-serif !important; font-size: 14px !important; font-weight:400; letter-spacing: 0px; color:#363636;} */


#toast-container>.toast-info {
    background-color: #2F96B4;
}

#toast-container>.toast-error {
    background-color: #BD362F;
}

#toast-container>.toast-success {
    background-color: #51A351;
}

#toast-container>.toast-warning {
    background-color: #F89406;
}


/* _reboot.scss */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: initial;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* popup custom */
.modal_box_850 { max-width:850px; }
.modal_box_450 { max-width:450px; }


.scroll-minimum {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scroll-minimum::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.box_fix { 
    border-bottom: 0px;
}

.dx-datagrid {  
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
}

.progress-bar-wrap {
    background: none;
}

.modal .react-datepicker {
    z-index: 2;
}

.modal_box_1000 { max-width:1000px; }


.modal_box div.coment_write a.btn_blue {
    line-height: 100px;
}

.modal_box div.coment_write .coment_write_form, .modal_box div.coment_write a.btn_blue {
    height: 100px;
}

.modal_box div.coment_write .coment_write_form textarea {
    height: 60px;
}

.react-datepicker-wrapper {
    width: initial;
}