@charset "utf-8";

/* default Setting */
html,body { margin:0px; padding:0px; font-family:AppleSDGothicNeo-Regular,"Pretendard", sans-serif,dotum,'돋움',sans-serif; font-size: 16px; letter-spacing: 0x; color:#575757;}
a:link, a:visited, a:active { color:#303646; text-decoration:none; }
a:hover { color:#303646; text-decoration:none; }
div, p, span { margin:0px; padding:0px; word-break:keep-all; word-wrap:break-word; }
dl, dt, dd { margin:0px; padding:0px; font-family: AppleSDGothicNeo-Regular,"Pretendard", sans-serif,dotum,'돋움',sans-serif; }
ul, ol, li { margin:0px; padding:0px; list-style:none; font-family: AppleSDGothicNeo-Regular,"Pretendard", sans-serif,dotum,'돋움',sans-serif; word-break:keep-all; word-wrap:break-word; }
h1, h2, h3, h4, h5, h6 { margin:0px; padding:0px; font-size:0; line-height:0; }
table, th, td { margin:0px; border:0px; padding:0px; border-spacing: 0; border-collapse:collapse; font-family: AppleSDGothicNeo-Regular,"Pretendard", sans-serif,dotum,'돋움',sans-serif; -webkit-text-size-adjust:100%; }
input { border:1px solid #d9d9d9; border-radius:5px; height:30px; padding:2px 5px; vertical-align:middle; font-size:16px; box-sizing: border-box; }
input:read-only {background:#f8f8f8; color:#999999;}
textarea { padding:2px 5px; border:1px solid #ddd; }
select { border:1px solid #ddd; height:20px; vertical-align:middle; font-size:16px; padding-left:5px; -webkit-appearance:none;  -moz-appearance:none; appearance:none;}
select::-ms-expand{  display:none;/*for IE10,11*/}  
fieldset, form, label { margin:0px; padding:0px; border:none; }
em { font-style:normal; }
img { border:0; vertical-align:middle; }
a { border:0; vertical-align:top; }
hr, caption, legend { display:none; }
label { cursor:pointer; }
/* default Setting END */


.hidden, .blind { position:absolute; width:0; height:0; font-size:0; line-height:0; text-indent:-10000px; overflow:hidden; }
.vam { vertical-align:middle; }
.ofh { overflow:hidden; }
.clear { clear:both; }
.bold { font-weight:bold; }
.fwn { font-weight:normal; }
.floatleft { float:left; }
.floatright { float:right; }
.noneborder { border:none !important; }
.nonebg { background-image:none !important; }
.b1 { border:1px solid red; }
.img { font-size:0; line-height:0; }
.mgtop0 { margin-top:0px !important; }
.mgtop10 { margin-top:10px !important; }
.mglt10 { margin-left:10px !important; }
.mgrg10 { margin-right:10px !important; }

.block {display: block;}
.border-top {border-top:1px solid #e6e6e6;}
.relative {position:relative;}
.flex {display:flex;}
.flex_sb {display:flex; justify-content: space-between;}

/* font color */

.red {color:#ed4747;}
.blue {color:#4a80ff;}
.orange {color:#e88b09;}



